@media(max-width:1400px) {

}


































@media(max-width:1240px) {
    .owl-carousel .owl-prev {
        left: -5px;
    }
    .owl-carousel .owl-next {
        right: -5px;
    }
}












@media(max-width:1200px) {
    h2 {
        font-size: 20px;
        line-height: 15px;
    }

















    .main_footer form button {
        width: 125px;
    }
}















































@media(max-width:992px) {
    h2 {
        font-size: 18px;
        line-height: 24px;
    }















    .main_footer {
        padding: 50px 0 30px 0;
    }
    .main_footer .row {
        gap: 50px 0;
    }
    .main_footer .have_question p,
    .main_footer .have_question p:first-child {
        width: 100%;
    }

}




























@media(max-width:768px) {










    .shop_lineup .lineup_head img {
        width: 60px;
    }
    .shop_lineup .lineup_head h2 {
       margin: 20px 0 10px 0;
    }
    .owl-carousel {
        margin: 30px 0 40px 0;
    }
    .owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
    }
    .owl-carousel .owl-nav button:before {
        width: 7px;
        height: 12px;
    }
}

































@media(max-width:576px) {
    



    .owl-carousel .item .product_details p {
        min-height: 40px;
    }
    .owl-carousel .owl-prev {
        left: 20px;
    }
    .owl-carousel .owl-next {
        right: 20px;
    }




    .main_footer .copyright {
        margin: 40px 0 0 0;
    }
}
